In [21]:
# this code conceals irrelevant warning messages
import warnings
warnings.simplefilter('ignore', FutureWarning)

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('../Datasets/Datasets_From_Course/WHO POP TB all.csv')
df

,Country,Population (1000s),TB deaths
0,Afghanistan,30552,13000.00
1,Albania,3173,20.00
2,Algeria,39208,5100.00
3,Andorra,79,0.26
4,Angola,21472,6900.00
5,Antigua and Barbuda,90,1.20
6,Argentina,41446,570.00
7,Armenia,2977,170.00
8,Australia,23343,45.00
9,Austria,8495,29.00
10,Azerbaijan,9413,360.00
11,Bahamas,377,1.80
12,Bahrain,1332,9.60
13,Bangladesh,156595,80000.00
14,Barbados,285,2.00
15,Belarus,9357,850.00
16,Belgium,11104,18.00
17,Belize,332,20.00
18,Benin,10323,1300.00
19,Bhutan,754,88.00
20,Bolivia (Plurinational State of),10671,430.00
21,Bosnia and Herzegovina,3829,190.00
22,Botswana,2021,440.00
23,Brazil,200362,4400.00
24,Brunei Darussalam,418,13.00
25,Bulgaria,7223,150.00
26,Burkina Faso,16935,1500.00
27,Burundi,10163,2300.00
28,CÃ´te d'Ivoire,20316,4000.00
29,Cabo Verde,499,150.00
...,...,...,...
164,Suriname,539,12.00
165,Swaziland,1250,1100.00
166,Sweden,9571,13.00
167,Switzerland,8078,17.00
168,Syrian Arab Republic,21898,450.00
169,Tajikistan,8208,570.00
170,Thailand,67010,8100.00
171,The former Yugoslav republic of Macedonia,2107,33.00
172,Timor-Leste,1133,990.00
173,Togo,6817,810.00
174,Tonga,105,2.50
175,Trinidad and Tobago,1341,29.00
176,Tunisia,10997,230.00
177,Turkey,74933,310.00
178,Turkmenistan,5240,1300.00
179,Tuvalu,10,2.80
180,Uganda,37579,4100.00
181,Ukraine,45239,6600.00
182,United Arab Emirates,9346,64.00
183,United Kingdom of Great Britain and Northern I...,63136,340.00
184,United Republic of Tanzania,49253,6000.00
185,United States of America,320051,490.00
186,Uruguay,3407,40.00
187,Uzbekistan,28934,2200.00
188,Vanuatu,253,16.00
189,Venezuela (Bolivarian Republic of),30405,480.00
190,Viet Nam,91680,17000.00
191,Yemen,24407,990.00
192,Zambia,14539,3600.00
193,Zimbabwe,14150,5700.00

In [24]:
df.sort('Population (1000s)', ascending=False)

,Country,Population (1000s),TB deaths
36,China,1393337,41000.00
77,India,1252140,240000.00
185,United States of America,320051,490.00
78,Indonesia,249866,64000.00
23,Brazil,200362,4400.00
128,Pakistan,182143,49000.00
124,Nigeria,173615,160000.00
13,Bangladesh,156595,80000.00
141,Russian Federation,142834,17000.00
85,Japan,127144,2100.00
109,Mexico,122332,2200.00
134,Philippines,98394,27000.00
58,Ethiopia,94101,30000.00
190,Viet Nam,91680,17000.00
65,Germany,82727,300.00
53,Egypt,82056,550.00
79,Iran (Islamic Republic of),77447,2500.00
177,Turkey,74933,310.00
47,Democratic Republic of the Congo,67514,46000.00
170,Thailand,67010,8100.00
61,France,64291,340.00
183,United Kingdom of Great Britain and Northern I...,63136,340.00
83,Italy,60990,310.00
116,Myanmar,53259,26000.00
159,South Africa,52776,25000.00
138,Republic of Korea,49263,2600.00
184,United Republic of Tanzania,49253,6000.00
37,Colombia,48321,770.00
161,Spain,46927,240.00
181,Ukraine,45239,6600.00
...,...,...,...
29,Cabo Verde,499,150.00
105,Malta,429,1.50
24,Brunei Darussalam,418,13.00
11,Bahamas,377,1.80
103,Maldives,345,7.60
17,Belize,332,20.00
76,Iceland,330,0.93
14,Barbados,285,2.00
188,Vanuatu,253,16.00
148,Sao Tome and Principe,193,18.00
146,Samoa,190,6.10
144,Saint Lucia,182,2.20
145,Saint Vincent and the Grenadines,109,3.10
68,Grenada,106,1.10
174,Tonga,105,2.50
110,Micronesia (Federated States of),104,22.00
89,Kiribati,102,30.00
152,Seychelles,93,1.40
5,Antigua and Barbuda,90,1.20
3,Andorra,79,0.26
50,Dominica,72,2.70
143,Saint Kitts and Nevis,54,1.60
106,Marshall Islands,53,21.00
111,Monaco,38,0.03
147,San Marino,31,0.00
40,Cook Islands,21,0.41
129,Palau,21,0.36
179,Tuvalu,10,2.80
118,Nauru,10,0.67
125,Niue,1,0.01

In [25]:
df.sort('TB deaths', ascending=False)

                                   Country  Population (1000s)  TB deaths
77                                   India             1252140  240000.00
124                                Nigeria              173615  160000.00
13                              Bangladesh              156595   80000.00
78                               Indonesia              249866   64000.00
128                               Pakistan              182143   49000.00
47        Democratic Republic of the Congo               67514   46000.00
36                                   China             1393337   41000.00
58                                Ethiopia               94101   30000.00
134                            Philippines               98394   27000.00
116                                Myanmar               53259   26000.00
159                           South Africa               52776   25000.00
115                             Mozambique               25834   18000.00
190                               Viet Nam               91680   17000.00
141                     Russian Federation              142834   17000.00
0                              Afghanistan               30552   13000.00
100                             Madagascar               22925   12000.00
30                                Cambodia               15135   10000.00
163                                  Sudan               37964    9700.00
88                                   Kenya               44354    9100.00
170                               Thailand               67010    8100.00
31                                Cameroon               22254    7800.00
158                                Somalia               10496    7700.00
4                                   Angola               21472    6900.00
46   Democratic People's Republic of Korea               24895    6700.00
181                                Ukraine               45239    6600.00
184            United Republic of Tanzania               49253    6000.00
193                               Zimbabwe               14150    5700.00
2                                  Algeria               39208    5100.00
119                                  Nepal               27797    4600.00
160                            South Sudan               11296    4500.00
..                                     ...                 ...        ...
164                               Suriname                 539      12.00
12                                 Bahrain                1332       9.60
103                               Maldives                 345       7.60
121                            New Zealand                4506       6.30
146                                  Samoa                 190       6.10
126                                 Norway                5043       4.40
145       Saint Vincent and the Grenadines                 109       3.10
179                                 Tuvalu                  10       2.80
137                                  Qatar                2169       2.70
50                                Dominica                  72       2.70
174                                  Tonga                 105       2.50
44                                  Cyprus                1141       2.30
99                              Luxembourg                 530       2.20
144                            Saint Lucia                 182       2.20
14                                Barbados                 285       2.00
11                                 Bahamas                 377       1.80
143                  Saint Kitts and Nevis                  54       1.60
105                                  Malta                 429       1.50
152                             Seychelles                  93       1.40
113                             Montenegro                 621       1.20
5                      Antigua and Barbuda                  90       1.20
68                                 Grenada                 106       1.10
76                                 Iceland                 330       0.93
118                                  Nauru                  10       0.67
40                            Cook Islands                  21       0.41
129                                  Palau                  21       0.36
3                                  Andorra                  79       0.26
111                                 Monaco                  38       0.03
125                                   Niue                   1       0.01
147                             San Marino                  31       0.00

[194 rows x 3 columns]